{% extends "layout.html" %}
{% block content %}

	<div class="content-section">
		<form method="POST" action="">

		<!-- hidden_tag is involved in security key on server.py -->
			{{ form.hidden_tag() }}

			<fieldset class="form-group">
				<legend class="border-bottom mb-4">Join Today !</legend>
				
				<!-- Acquiring the information of forms.py, class inside label is only bootstrap
				which makes it better in terms of interface -->
				<div class="form-group">
					{{ form.username.label(class="form-control-label") }}
						
						<!-- This is used when the user didn't follow the spesification of forms -->
						{% if form.username.errors %}
							{{ form.username(class="form-control form-control-lg is-invalid") }}	
							<div class="invalid-feedback">
								{% for error in form.username.errors%}
								<span>{{ error }}</span>
								{% endfor %}
							</div>
							<br>
						{% else %}
							{{ form.username(class="form-control form-control-lg") }}
						{% endif %}
				</div>


				<div class="form-group">
					{{ form.email.label(class="form-control-label") }}

						<!-- This is used when the user didn't follow the spesification of forms -->
						{% if form.email.errors %}
							{{ form.email(class="form-control form-control-lg is-invalid") }}	
							<div class="invalid-feedback">
								{% for error in form.email.errors%}
								<span>{{ error }}</span>
								{% endfor %}
							</div>
							<br>
						{% else %}
							{{ form.email(class="form-control form-control-lg") }}
						{% endif %}

				</div>

				<div class="form-group">
					{{ form.password.label(class="form-control-label") }}
					
						<!-- This is used when the user didn't follow the spesification of forms -->
						{% if form.password.errors %}
							{{ form.password(class="form-control form-control-lg is-invalid") }}	
							<div class="invalid-feedback">
								{% for error in form.password.errors%}
									<span>{{ error }}</span>
								{% endfor %}
							</div>
							<br>
						{% else %}
							{{ form.password(class="form-control form-control-lg") }}
						{% endif %}

				</div>

				<div class="form-group">
					{{ form.check_password.label(class="form-control-label") }}

					<!-- This is used when the user didn't follow the spesification of forms -->
						{% if form.check_password.errors %}
							{{ form.check_password(class="form-control form-control-lg is-invalid") }}	
							<div class="invalid-feedback">
								{% for error in form.check_password.errors%}
								<span>{{ error }}</span>
								{% endfor %}
							</div>
							<br>
						{% else %}
							{{ form.check_password(class="form-control form-control-lg") }}
						{% endif %}

					

				</div>

			</fieldset>

			<div class="form-group">
				{{ form.submit(class="btn btn-outline-info") }}
			</div>
	<!-- if you already have account then just sign in -->

	<div class="border-top pt-3">
		<small class="text-muted">
			Already have an account ? <a href=" {{ url_for('login') }} " class="ml-2"> Sign In</a>
		</small>
	</div>
	</form>
</div>

		
	
{% endblock content %}